@import url("navbar.css");

*{

    padding: 0;
    font-family: sans-serif;
   
}
body
{
    /*background-image: url("../Images/bgaboutus.jpg");*/
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
}


.container
{
    display:flex;
    justify-content: space-around;
    margin-top:25px;

}

.gap
{
    height:350px;
    background-color: #D8E8FF;
    display:flex;
    justify-content: center;
   

    background:url("../Images/bga.jpg");
    background-repeat: no-repeat;
    background-size:cover;

    /* background: rgb(229,237,250);
    background: linear-gradient(90deg, rgba(229,237,250,1) 30%, rgba(249,247,248,1) 55%, rgba(229,237,250,1) 85%); */
}

.gsection
{
    width:540px;
    height:252px;
    text-align:center;
}
.gap p
{
    font-size:55px;
    text-align: center;
}
.gap span{
    padding:10px;
    font-size:50px; 
    font-family: 'Catamaran', sans-serif;
    font-weight:900;
    text-align: center;
}

.section p
{
    text-align: left;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Times New Roman';
    font-style:italic;
    font-weight:600;
    font-size:20px;
    line-height: 50px;

    /*width:650px;*/
    
    height:713px;
    flex-grow: 1;
    
    
    padding-left:3em;
    padding-right:3em;

}

.section h1
{
    font-family: 'Catamaran';
    font-weight:900;
    text-align: center;
}



.container img{
    width:620px;
    height:655px;
    border-radius:25px;
}

.image_frame
{
    border:2px solid black;
    border-radius:25px;
    box-shadow:4px 4px 4px 5px;
    height:655px;

    margin-right:20em;
    margin-left:2em;

    flex-grow: 2;
}
