@import url("navbar.css");



.container
{
    display:flex;
    justify-content: center;
    align-items: center;
}

.item
{
    margin-top:5px;
    width:1000px;
    height:100px;
    /* border: 2px solid;
    border-radius: 20px; */
}


.len 
{
    width:100vw;
}

/* .item img{
    
    padding:10px;
    width:80px;
    height: 100px;
    border-radius:20px;
} */


/* .item h3{
    margin-top: -5em;
    margin-left:5em;
    margin-bottom: 0px;
}

.item p
{
    margin-top:0px;
}


.item span{
    margin-left:6em;
    color:grey;
    margin-bottom: 0px;
} */
.proceed,
.item button{
    border:none;
    border-radius:10px;

    width:130px;
    height:25px;
    
    background: linear-gradient(90deg, rgba(17,106,228,1) 37%, rgba(13,63,131,1) 86%);  
    box-shadow: 4px 4px 5px #888888;
    
    font-size: 12px;
    font-weight: 600;
    font-family: 'Catamaran';
    text-transform: uppercase;
    margin:10px 10px 10px 60px;
    color:white;

    float:right;
    margin-left:50em;
}

.proceed
{
    margin-left:0;
    width:150px;
}

.proceed:hover,
.item button:hover
{
    /*background-image: linear-gradient(to right top, #042450, #042450, #8693cf, #b5bde4, #e5e8f8);
    background-color:#042450;*/
    background: linear-gradient(90deg, rgba(13,63,131,1) 37%, rgba(17,106,228,1) 86%);
    cursor: pointer;
    transform:scale(1.05);

}


/* table th
{
    padding-top:10px;
    padding-left:190px;
} */

/* table td
{
    padding-top:10px;
    padding-left:170px;

} */

/* td:first-child { width: 20% ;} */



table 
{
    table-layout: fixed ;
    width: 90% ;
}
td
{
    width: 18%;
    padding-top:10px;
}

.item img
{
    padding-left:130px;
}

.item_view
{
    
    padding-left:28em;
} 


.item_price
{
    padding-left:42em;
}

.item_quantity
{
    padding-left:54em;
}

.item_total
{
    padding-left: 62.4em;
}

.item_remove
{
    padding-left:65em;
}
