@import url("footer.css");


.logo
{
    
    width: 300px;
    cursor: pointer;
    /*filter: drop-shadow(30px 10px 4px #4444dd);*/
    
}

.navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height:83px;
    
    border-radius: 50px;
    border: 1px solid #0d3f83;
    background-color: #0d3f83;

    font-size:17px;
    font-family: 'Open Sans', sans-serif;
    font-weight:600;

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin-right: 25px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

@media only screen and (max-width: 650px) {
    

    a{
        max-width:100px;
        width:auto;
    }

    .logo
    {
        width:150px;
    }
    
    .navbar ul li{
        font-size: 14px;
    }
    .navbar ul li a{
        width:auto;
    }

    /* a{
        width:min-content;
    } */

  }