@import url("navbar.css");


.container
{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}


.fav_title,
.fav_items
{
   display:flex;
   justify-content: space-around;
   align-items: center;
}


.fav_items
{
    padding-right:30px;
}


/* .item_header
{
    margin:0 5em;
} */


/* .show_case
{
    display:flex;
    flex-wrap:nowrap;
    margin-bottom:20px;
    border:2px solid black;
    padding:0;
    margin-left:90px;
    width:90vw;
    height:50px;
    box-shadow: 3px 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.show_case span
{
    padding-top:10px;
} */
